.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-vid-play-cell {
  width: 0.98046875em;
}

.icon-vid-cam {
  width: 0.99609375em;
}

.icon-vid-play {
  width: 0.625em;
}
