.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-vid-play-yt {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-vid-play-cell {
  width: 31px;
  height: 32px;
  background-position: -48px 0;
}
.icon-vid-cam {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-vid-play-sq {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-vid-chat {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-vid-play {
  width: 20px;
  height: 32px;
  background-position: -240px 0;
}

