.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-untitled3 {
  width: 0.9287109375em;
}

.icon-untitled6 {
  width: 0.9287109375em;
}

.icon-untitled7 {
  width: 0.9287109375em;
}

.icon-untitled8 {
  width: 0.7861328125em;
}

.icon-untitled9 {
  width: 1.0712890625em;
}

.icon-untitled10 {
  width: 0.9287109375em;
}

.icon-untitled14 {
  width: 0.7861328125em;
}

.icon-untitled15 {
  width: 0.9287109375em;
}

.icon-untitled16 {
  width: 0.9287109375em;
}

.icon-untitled20 {
  width: 0.7861328125em;
}

.icon-untitled21 {
  width: 0.9287109375em;
}

.icon-untitled24 {
  width: 1.0712890625em;
}

.icon-untitled25 {
  width: 0.9287109375em;
}

.icon-untitled33 {
  width: 0.642578125em;
}

.icon-untitled35 {
  width: 0.9287109375em;
}

.icon-untitled36 {
  width: 0.4287109375em;
}

.icon-untitled37 {
  width: 0.642578125em;
}

.icon-untitled38 {
  width: 0.9287109375em;
}

.icon-untitled39 {
  width: 0.7861328125em;
}

.icon-untitled42 {
  width: 1.0712890625em;
}

.icon-untitled43 {
  width: 0.9287109375em;
}

.icon-untitled44 {
  width: 0.7138671875em;
}

.icon-untitled45 {
  width: 0.9287109375em;
}

.icon-untitled46 {
  width: 1.0712890625em;
}

.icon-untitled47 {
  width: 0.9287109375em;
}

.icon-untitled48 {
  width: 0.7861328125em;
}

.icon-untitled49 {
  width: 0.5712890625em;
}

.icon-untitled60 {
  width: 1.0712890625em;
}

.icon-untitled62 {
  width: 0.5712890625em;
}

.icon-untitled64 {
  width: 0.5712890625em;
}

.icon-untitled66 {
  width: 0.9287109375em;
}

.icon-untitled67 {
  width: 0.9287109375em;
}

.icon-untitled69 {
  width: 0.5712890625em;
}

.icon-untitled71 {
  width: 0.9287109375em;
}

.icon-untitled72 {
  width: 0.7861328125em;
}

.icon-untitled75 {
  width: 0.9287109375em;
}

.icon-untitled77 {
  width: 0.5712890625em;
}

.icon-untitled78 {
  width: 0.8583984375em;
}

.icon-untitled79 {
  width: 0.7138671875em;
}

.icon-untitled80 {
  width: 0.7138671875em;
}

.icon-untitled93 {
  width: 0.9287109375em;
}

.icon-untitled94 {
  width: 0.9287109375em;
}

.icon-untitled98 {
  width: 0.7861328125em;
}

.icon-untitled99 {
  width: 0.7861328125em;
}

.icon-untitled100 {
  width: 0.9287109375em;
}

.icon-untitled104 {
  width: 0.7861328125em;
}

.icon-untitled108 {
  width: 0.7861328125em;
}

.icon-untitled109 {
  width: 0.9287109375em;
}

.icon-untitled115 {
  width: 1.0712890625em;
}

.icon-untitled116 {
  width: 0.9287109375em;
}

.icon-untitled117 {
  width: 0.9287109375em;
}

.icon-untitled118 {
  width: 1.0712890625em;
}

.icon-untitled119 {
  width: 0.4287109375em;
}

.icon-untitled121 {
  width: 1.142578125em;
}

.icon-untitled126 {
  width: 1.0712890625em;
}

.icon-untitled130 {
  width: 0.5em;
}

.icon-untitled132 {
  width: 0.9287109375em;
}

.icon-untitled134 {
  width: 0.642578125em;
}

.icon-untitled137 {
  width: 0.9287109375em;
}

.icon-untitled139 {
  width: 0.9287109375em;
}

.icon-untitled141 {
  width: 0.7861328125em;
}

.icon-untitled142 {
  width: 0.7861328125em;
}

.icon-untitled143 {
  width: 0.7138671875em;
}

.icon-untitled145 {
  width: 0.9287109375em;
}

.icon-untitled146 {
  width: 0.5712890625em;
}

.icon-untitled148 {
  width: 0.9287109375em;
}

.icon-untitled149 {
  width: 1.0712890625em;
}

.icon-untitled150 {
  width: 0.7861328125em;
}

.icon-untitled164 {
  width: 0.9287109375em;
}

.icon-untitled166 {
  width: 0.7861328125em;
}

.icon-untitled169 {
  width: 1.0712890625em;
}

.icon-untitled170 {
  width: 0.9287109375em;
}

.icon-untitled171 {
  width: 1.0712890625em;
}

.icon-untitled172 {
  width: 0.9287109375em;
}

.icon-untitled175 {
  width: 0.7861328125em;
}

.icon-untitled183 {
  width: 0.9287109375em;
}

.icon-untitled184 {
  width: 0.9287109375em;
}

.icon-untitled189 {
  width: 1.2861328125em;
}

.icon-untitled190 {
  width: 1.0712890625em;
}

.icon-untitled191 {
  width: 0.5712890625em;
}

.icon-untitled192 {
  width: 0.5712890625em;
}

.icon-untitled193 {
  width: 0.357421875em;
}

.icon-untitled194 {
  width: 0.357421875em;
}

.icon-untitled195 {
  width: 0.9287109375em;
}

.icon-untitled196 {
  width: 0.5712890625em;
}

.icon-untitled197 {
  width: 0.5712890625em;
}

.icon-untitled198 {
  width: 0.5712890625em;
}

.icon-untitled206 {
  width: 0.5em;
}

.icon-untitled208 {
  width: 0.9287109375em;
}

.icon-untitled210 {
  width: 0.5712890625em;
}

.icon-untitled212 {
  width: 1.0712890625em;
}

.icon-untitled213 {
  width: 1.0712890625em;
}

.icon-untitled214 {
  width: 0.7861328125em;
}

.icon-untitled215 {
  width: 0.7861328125em;
}

.icon-untitled218 {
  width: 1.0712890625em;
}

.icon-untitled219 {
  width: 0.7861328125em;
}

.icon-untitled221 {
  width: 0.7861328125em;
}

.icon-untitled222 {
  width: 0.7861328125em;
}

.icon-untitled223 {
  width: 1.0712890625em;
}

.icon-untitled225 {
  width: 1.0712890625em;
}

.icon-untitled226 {
  width: 0.9287109375em;
}

.icon-untitled229 {
  width: 0.5712890625em;
}

.icon-untitled230 {
  width: 0.5712890625em;
}

.icon-untitled231 {
  width: 0.642578125em;
}

.icon-untitled232 {
  width: 0.642578125em;
}

.icon-untitled233 {
  width: 0.357421875em;
}

.icon-untitled234 {
  width: 0.357421875em;
}

.icon-untitled235 {
  width: 0.642578125em;
}

.icon-untitled236 {
  width: 0.642578125em;
}

.icon-untitled237 {
  width: 1.0712890625em;
}

.icon-untitled238 {
  width: 1.0712890625em;
}

.icon-untitled239 {
  width: 0.642578125em;
}

.icon-untitled240 {
  width: 0.4287109375em;
}

.icon-untitled242 {
  width: 0.9287109375em;
}

.icon-untitled243 {
  width: 0.9287109375em;
}

.icon-untitled247 {
  width: 0.9287109375em;
}

.icon-untitled248 {
  width: 0.9287109375em;
}

.icon-untitled249 {
  width: 1.0712890625em;
}

.icon-untitled253 {
  width: 1.0712890625em;
}

.icon-untitled254 {
  width: 1.0712890625em;
}

.icon-untitled257 {
  width: 0.9287109375em;
}

.icon-untitled258 {
  width: 1.0712890625em;
}

.icon-untitled260 {
  width: 0.9287109375em;
}

.icon-untitled261 {
  width: 0.7861328125em;
}

.icon-untitled262 {
  width: 0.9287109375em;
}

.icon-untitled263 {
  width: 0.5712890625em;
}

.icon-untitled264 {
  width: 0.9287109375em;
}

.icon-untitled265 {
  width: 0.5712890625em;
}

.icon-untitled266 {
  width: 0.357421875em;
}

.icon-untitled267 {
  width: 0.357421875em;
}

.icon-untitled270 {
  width: 1.0712890625em;
}

.icon-untitled271 {
  width: 0.9287109375em;
}

.icon-untitled272 {
  width: 0.642578125em;
}

.icon-untitled273 {
  width: 0.7861328125em;
}

.icon-untitled274 {
  width: 0.7138671875em;
}

.icon-untitled275 {
  width: 0.9287109375em;
}

.icon-untitled276 {
  width: 0.7861328125em;
}

.icon-untitled277 {
  width: 0.9287109375em;
}

.icon-untitled283 {
  width: 0.7861328125em;
}

.icon-untitled286 {
  width: 0.642578125em;
}

.icon-untitled288 {
  width: 0.7861328125em;
}

.icon-untitled289 {
  width: 0.2138671875em;
}

.icon-untitled294 {
  width: 0.7861328125em;
}

.icon-untitled295 {
  width: 0.5712890625em;
}

.icon-untitled296 {
  width: 0.5712890625em;
}

.icon-untitled305 {
  width: 0.5712890625em;
}

.icon-untitled306 {
  width: 0.5712890625em;
}

.icon-untitled307 {
  width: 0.5712890625em;
}

.icon-untitled308 {
  width: 0.5009765625em;
}

.icon-untitled309 {
  width: 0.5732421875em;
}

.icon-untitled310 {
  width: 0.7138671875em;
}

.icon-untitled312 {
  width: 0.7138671875em;
}

.icon-untitled315 {
  width: 0.9287109375em;
}

.icon-untitled316 {
  width: 0.9287109375em;
}

.icon-untitled321 {
  width: 0.9287109375em;
}

.icon-untitled322 {
  width: 0.9287109375em;
}

.icon-untitled325 {
  width: 0.7861328125em;
}

.icon-untitled333 {
  width: 0.7861328125em;
}

.icon-untitled335 {
  width: 0.5712890625em;
}

.icon-untitled337 {
  width: 0.4287109375em;
}

.icon-untitled338 {
  width: 0.4287109375em;
}

.icon-untitled341 {
  width: 0.7861328125em;
}

.icon-untitled342 {
  width: 0.9287109375em;
}

.icon-untitled343 {
  width: 0.7861328125em;
}

.icon-untitled347 {
  width: 0.7138671875em;
}

.icon-untitled349 {
  width: 0.7138671875em;
}

.icon-untitled350 {
  width: 0.5712890625em;
}

.icon-untitled355 {
  width: 0.9287109375em;
}

.icon-untitled356 {
  width: 1.0712890625em;
}

.icon-untitled359 {
  width: 0.7861328125em;
}

.icon-untitled360 {
  width: 0.7138671875em;
}

.icon-untitled365 {
  width: 0.9287109375em;
}

.icon-untitled367 {
  width: 0.642578125em;
}

.icon-untitled368 {
  width: 0.7861328125em;
}

.icon-untitled369 {
  width: 1.2138671875em;
}

.icon-untitled370 {
  width: 0.9287109375em;
}

.icon-untitled374 {
  width: 1.142578125em;
}

.icon-untitled375 {
  width: 1.2861328125em;
}

.icon-untitled381 {
  width: 1.0712890625em;
}

.icon-untitled383 {
  width: 1.142578125em;
}

.icon-untitled385 {
  width: 1.1376953125em;
}

.icon-untitled391 {
  width: 0.7138671875em;
}

.icon-untitled392 {
  width: 0.9287109375em;
}

.icon-untitled393 {
  width: 0.4287109375em;
}

.icon-untitled395 {
  width: 1.2861328125em;
}

.icon-untitled396 {
  width: 1.142578125em;
}

.icon-untitled401 {
  width: 1.142578125em;
}

.icon-untitled402 {
  width: 1.142578125em;
}

.icon-untitled405 {
  width: 0.5712890625em;
}

.icon-untitled406 {
  width: 1.2861328125em;
}

.icon-untitled419 {
  width: 1.142578125em;
}

.icon-untitled427 {
  width: 0.7138671875em;
}

.icon-untitled429 {
  width: 1.142578125em;
}

.icon-untitled435 {
  width: 0.7138671875em;
}

.icon-untitled447 {
  width: 1.142578125em;
}

.icon-untitled448 {
  width: 1.142578125em;
}

.icon-untitled452 {
  width: 1.2861328125em;
}

.icon-untitled453 {
  width: 1.2861328125em;
}

.icon-untitled454 {
  width: 1.2861328125em;
}

.icon-untitled455 {
  width: 1.2861328125em;
}

.icon-untitled456 {
  width: 1.2861328125em;
}

.icon-untitled457 {
  width: 1.2861328125em;
}

.icon-untitled458 {
  width: 1.142578125em;
}

.icon-untitled459 {
  width: 1.142578125em;
}

.icon-untitled460 {
  width: 0.7861328125em;
}

.icon-untitled466 {
  width: 1.142578125em;
}

.icon-untitled468 {
  width: 1.142578125em;
}

.icon-untitled471 {
  width: 1.142578125em;
}

.icon-untitled472 {
  width: 1.142578125em;
}

.icon-untitled473 {
  width: 1.2861328125em;
}

.icon-untitled475 {
  width: 1.142578125em;
}

.icon-untitled476 {
  width: 0.7138671875em;
}

.icon-untitled477 {
  width: 1.142578125em;
}

.icon-untitled481 {
  width: 1.142578125em;
}

.icon-untitled484 {
  width: 1.142578125em;
}

.icon-untitled485 {
  width: 1.142578125em;
}

.icon-untitled487 {
  width: 1.142578125em;
}

.icon-untitled488 {
  width: 1.142578125em;
}

.icon-untitled489 {
  width: 0.9287109375em;
}

.icon-untitled490 {
  width: 0.9287109375em;
}

.icon-untitled491 {
  width: 1.142578125em;
}

.icon-untitled492 {
  width: 1.142578125em;
}

.icon-untitled494 {
  width: 1.2861328125em;
}

.icon-untitled497 {
  width: 0.7138671875em;
}

.icon-untitled499 {
  width: 0.7138671875em;
}

.icon-untitled503 {
  width: 1.0712890625em;
}

.icon-untitled504 {
  width: 1.142578125em;
}

.icon-untitled506 {
  width: 0.7138671875em;
}

.icon-untitled507 {
  width: 1.142578125em;
}

.icon-untitled508 {
  width: 0.7138671875em;
}

.icon-untitled509 {
  width: 0.7138671875em;
}

.icon-untitled511 {
  width: 0.7138671875em;
}

.icon-untitled514 {
  width: 1.142578125em;
}

.icon-untitled515 {
  width: 1.142578125em;
}

.icon-untitled516 {
  width: 1.142578125em;
}

.icon-untitled522 {
  width: 1.28125em;
}

.icon-untitled523 {
  width: 1.2861328125em;
}

.icon-untitled525 {
  width: 1.2861328125em;
}

.icon-untitled526 {
  width: 1.2861328125em;
}

.icon-untitled527 {
  width: 1.2861328125em;
}

.icon-untitled528 {
  width: 1.2861328125em;
}

.icon-untitled529 {
  width: 1.2861328125em;
}

.icon-untitled530 {
  width: 0.7138671875em;
}

.icon-untitled531 {
  width: 0.5712890625em;
}

.icon-untitled532 {
  width: 1.142578125em;
}

.icon-untitled533 {
  width: 1.2861328125em;
}

.icon-untitled536 {
  width: 1.2861328125em;
}

.icon-untitled537 {
  width: 1.2861328125em;
}

.icon-untitled539 {
  width: 1.2861328125em;
}

.icon-untitled548 {
  width: 1.142578125em;
}

.icon-untitled549 {
  width: 1.142578125em;
}

.icon-untitled552 {
  width: 1.1005859375em;
}

.icon-untitled555 {
  width: 1.142578125em;
}

.icon-untitled557 {
  width: 1.2861328125em;
}

.icon-untitled558 {
  width: 0.7138671875em;
}

.icon-untitled560 {
  width: 0.9599609375em;
}

.icon-untitled561 {
  width: 1.2861328125em;
}

.icon-untitled567 {
  width: 1.142578125em;
}

.icon-untitled576 {
  width: 0.5712890625em;
}

.icon-untitled578 {
  width: 1.142578125em;
}

.icon-untitled582 {
  width: 0.5712890625em;
}

.icon-untitled588 {
  width: 1.2861328125em;
}

.icon-untitled592 {
  width: 1.2861328125em;
}

.icon-untitled594 {
  width: 1.2861328125em;
}

.icon-untitled601 {
  width: 1.142578125em;
}

.icon-untitled604 {
  width: 0.5712890625em;
}
