.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-gplus {
  width: 38px;
  height: 32px;
  background-position: 0 0;
}
.icon-plus {
  width: 25px;
  height: 32px;
  background-position: -48px 0;
}
.icon-pinterest {
  width: 25px;
  height: 32px;
  background-position: -96px 0;
}
.icon-twitter {
  width: 39px;
  height: 32px;
  background-position: -144px 0;
}
.icon-vimeo {
  width: 37px;
  height: 32px;
  background-position: -192px 0;
}
.icon-email {
  width: 33px;
  height: 32px;
  background-position: -240px 0;
}
.icon-facebook {
  width: 17px;
  height: 32px;
  background-position: -288px 0;
}
.icon-tumblr {
  width: 20px;
  height: 32px;
  background-position: -336px 0;
}
.icon-star {
  width: 30px;
  height: 32px;
  background-position: -384px 0;
}
.icon-star-empty {
  width: 30px;
  height: 32px;
  background-position: -432px 0;
}
.icon-heart-empty {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-heart {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-cog {
  width: 27px;
  height: 32px;
  background-position: -576px 0;
}
.icon-plus-circled {
  width: 27px;
  height: 32px;
  background-position: -624px 0;
}
.icon-forward {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
.icon-tag {
  width: 27px;
  height: 32px;
  background-position: -720px 0;
}
.icon-export {
  width: 30px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-comment {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-chat {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-location {
  width: 18px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-rss {
  width: 25px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-menu {
  width: 27px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-comment-empty {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-plus-squared {
  width: 27px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-folder-empty {
  width: 30px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-plus-squared-small {
  width: 21px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-export-alt {
  width: 27px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-box {
  width: 32px;
  height: 32px;
  background-position: -528px -48px;
}
.icon-doc {
  width: 23px;
  height: 32px;
  background-position: -576px -48px;
}
.icon-download {
  width: 30px;
  height: 32px;
  background-position: -624px -48px;
}
.icon-link {
  width: 30px;
  height: 32px;
  background-position: -672px -48px;
}
.icon-clock {
  width: 27px;
  height: 32px;
  background-position: -720px -48px;
}

