.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-seven-down {
  width: 0.927734375em;
}

.icon-seven-right {
  width: 0.6416015625em;
}

.icon-seven-up {
  width: 0.927734375em;
}

.icon-six-down {
  width: 0.8662109375em;
}

.icon-six-left {
  width: 0.46484375em;
}

.icon-six-right {
  width: 0.46484375em;
}

.icon-six-up {
  width: 0.8642578125em;
}

.icon-five-down {
  width: 0.5em;
}

.icon-five-left {
  width: 0.98046875em;
}

.icon-five-right {
  width: 0.98046875em;
}

.icon-five-up {
  width: 0.5em;
}

.icon-three-down {
  width: 0.5400390625em;
}

.icon-three-left {
  width: 0.509765625em;
}

.icon-seven-left {
  width: 0.6416015625em;
}

.icon-three-up {
  width: 0.5400390625em;
}

.icon-one-down {
  width: 0.8173828125em;
}

.icon-one-left {
  width: 0.9384765625em;
}

.icon-one-right {
  width: 0.9384765625em;
}

.icon-one-up {
  width: 0.8173828125em;
}

.icon-two-left {
  width: 0.6484375em;
}

.icon-two-right {
  width: 0.6484375em;
}

.icon-three-right {
  width: 0.509765625em;
}
