/* https://www.youjizz.com/videos/filthy-british-dogging-bitch-55454511.html */
.fluid_video_wrapper .vast_video_loading {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;
    z-index: 1;
}
.fluid_video_wrapper .vast_video_loading::before {
    background-image: url(fluid_spinner.svg);
    background-position: 50%,50%;
    background-repeat: no-repeat,repeat;
    background-color: rgba(0,0,0,.2);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
