.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-star {
  width: 0.927734375em;
}

.icon-star-empty {
  width: 0.927734375em;
}

.icon-plus {
  width: 0.78515625em;
}

.icon-plus-circled {
  width: 0.857421875em;
}

.icon-plus-squared {
  width: 0.857421875em;
}

.icon-plus-squared-small {
  width: 0.6416015625em;
}

.icon-link {
  width: 0.927734375em;
}

.icon-tag {
  width: 0.857421875em;
}

.icon-download {
  width: 0.927734375em;
}

.icon-export {
  width: 0.927734375em;
}

.icon-export-alt {
  width: 0.857421875em;
}

.icon-location {
  width: 0.5712890625em;
}

.icon-doc {
  width: 0.7138671875em;
}

.icon-folder-empty {
  width: 0.927734375em;
}

.icon-menu {
  width: 0.857421875em;
}

.icon-cog {
  width: 0.857421875em;
}

.icon-clock {
  width: 0.857421875em;
}

.icon-angle-up {
  width: 0.6416015625em;
}

.icon-angle-down {
  width: 0.6416015625em;
}

.icon-book {
  width: 0.7001953125em;
}

.icon-basket {
  width: 1.0029296875em;
}

.icon-lock {
  width: 0.689453125em;
}

.icon-gplus {
  width: 1.18359375em;
}

.icon-pinterest {
  width: 0.7744140625em;
}

.icon-twitter {
  width: 1.23046875em;
}

.icon-vimeo {
  width: 1.146484375em;
}

.icon-email {
  width: 1.037109375em;
}

.icon-facebook {
  width: 0.5380859375em;
}

.icon-tumblr {
  width: 0.6162109375em;
}

.icon-rss {
  width: 0.78515625em;
}
