.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-untitled {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-untitled2 {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-untitled3 {
  width: 30px;
  height: 32px;
  background-position: -96px 0;
}
.icon-untitled4 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-untitled5 {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-untitled6 {
  width: 30px;
  height: 32px;
  background-position: -240px 0;
}
.icon-untitled7 {
  width: 30px;
  height: 32px;
  background-position: -288px 0;
}
.icon-untitled8 {
  width: 25px;
  height: 32px;
  background-position: -336px 0;
}
.icon-untitled9 {
  width: 34px;
  height: 32px;
  background-position: -384px 0;
}
.icon-untitled10 {
  width: 30px;
  height: 32px;
  background-position: -432px 0;
}
.icon-untitled11 {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-untitled12 {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-untitled13 {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-untitled14 {
  width: 25px;
  height: 32px;
  background-position: -624px 0;
}
.icon-untitled15 {
  width: 30px;
  height: 32px;
  background-position: -672px 0;
}
.icon-untitled16 {
  width: 30px;
  height: 32px;
  background-position: -720px 0;
}
.icon-untitled17 {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-untitled18 {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-untitled19 {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-untitled20 {
  width: 25px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-untitled21 {
  width: 30px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-untitled22 {
  width: 32px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-untitled23 {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-untitled24 {
  width: 34px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-untitled25 {
  width: 30px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-untitled26 {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-untitled27 {
  width: 32px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-untitled28 {
  width: 32px;
  height: 32px;
  background-position: -528px -48px;
}
.icon-untitled29 {
  width: 32px;
  height: 32px;
  background-position: -576px -48px;
}
.icon-untitled30 {
  width: 32px;
  height: 32px;
  background-position: -624px -48px;
}
.icon-untitled31 {
  width: 32px;
  height: 32px;
  background-position: -672px -48px;
}
.icon-untitled32 {
  width: 32px;
  height: 32px;
  background-position: -720px -48px;
}
.icon-untitled33 {
  width: 21px;
  height: 32px;
  background-position: 0 -96px;
}
.icon-untitled34 {
  width: 32px;
  height: 32px;
  background-position: -48px -96px;
}
.icon-untitled35 {
  width: 30px;
  height: 32px;
  background-position: -96px -96px;
}
.icon-untitled36 {
  width: 14px;
  height: 32px;
  background-position: -144px -96px;
}
.icon-untitled37 {
  width: 21px;
  height: 32px;
  background-position: -192px -96px;
}
.icon-untitled38 {
  width: 30px;
  height: 32px;
  background-position: -240px -96px;
}
.icon-untitled39 {
  width: 25px;
  height: 32px;
  background-position: -288px -96px;
}
.icon-untitled40 {
  width: 32px;
  height: 32px;
  background-position: -336px -96px;
}
.icon-untitled41 {
  width: 32px;
  height: 32px;
  background-position: -384px -96px;
}
.icon-untitled42 {
  width: 34px;
  height: 32px;
  background-position: -432px -96px;
}
.icon-untitled43 {
  width: 30px;
  height: 32px;
  background-position: -480px -96px;
}
.icon-untitled44 {
  width: 23px;
  height: 32px;
  background-position: -528px -96px;
}
.icon-untitled45 {
  width: 30px;
  height: 32px;
  background-position: -576px -96px;
}
.icon-untitled46 {
  width: 34px;
  height: 32px;
  background-position: -624px -96px;
}
.icon-untitled47 {
  width: 30px;
  height: 32px;
  background-position: -672px -96px;
}
.icon-untitled48 {
  width: 25px;
  height: 32px;
  background-position: -720px -96px;
}
.icon-untitled49 {
  width: 18px;
  height: 32px;
  background-position: 0 -144px;
}
.icon-untitled50 {
  width: 32px;
  height: 32px;
  background-position: -48px -144px;
}
.icon-untitled51 {
  width: 32px;
  height: 32px;
  background-position: -96px -144px;
}
.icon-untitled52 {
  width: 32px;
  height: 32px;
  background-position: -144px -144px;
}
.icon-untitled53 {
  width: 32px;
  height: 32px;
  background-position: -192px -144px;
}
.icon-untitled54 {
  width: 32px;
  height: 32px;
  background-position: -240px -144px;
}
.icon-untitled55 {
  width: 32px;
  height: 32px;
  background-position: -288px -144px;
}
.icon-untitled56 {
  width: 32px;
  height: 32px;
  background-position: -336px -144px;
}
.icon-untitled57 {
  width: 32px;
  height: 32px;
  background-position: -384px -144px;
}
.icon-untitled58 {
  width: 32px;
  height: 32px;
  background-position: -432px -144px;
}
.icon-untitled59 {
  width: 32px;
  height: 32px;
  background-position: -480px -144px;
}
.icon-untitled60 {
  width: 34px;
  height: 32px;
  background-position: -528px -144px;
}
.icon-untitled61 {
  width: 32px;
  height: 32px;
  background-position: -576px -144px;
}
.icon-untitled62 {
  width: 18px;
  height: 32px;
  background-position: -624px -144px;
}
.icon-untitled63 {
  width: 32px;
  height: 32px;
  background-position: -672px -144px;
}
.icon-untitled64 {
  width: 18px;
  height: 32px;
  background-position: -720px -144px;
}
.icon-untitled65 {
  width: 32px;
  height: 32px;
  background-position: 0 -192px;
}
.icon-untitled66 {
  width: 30px;
  height: 32px;
  background-position: -48px -192px;
}
.icon-untitled67 {
  width: 30px;
  height: 32px;
  background-position: -96px -192px;
}
.icon-untitled68 {
  width: 32px;
  height: 32px;
  background-position: -144px -192px;
}
.icon-untitled69 {
  width: 18px;
  height: 32px;
  background-position: -192px -192px;
}
.icon-untitled70 {
  width: 32px;
  height: 32px;
  background-position: -240px -192px;
}
.icon-untitled71 {
  width: 30px;
  height: 32px;
  background-position: -288px -192px;
}
.icon-untitled72 {
  width: 25px;
  height: 32px;
  background-position: -336px -192px;
}
.icon-untitled73 {
  width: 32px;
  height: 32px;
  background-position: -384px -192px;
}
.icon-untitled74 {
  width: 32px;
  height: 32px;
  background-position: -432px -192px;
}
.icon-untitled75 {
  width: 30px;
  height: 32px;
  background-position: -480px -192px;
}
.icon-untitled76 {
  width: 32px;
  height: 32px;
  background-position: -528px -192px;
}
.icon-untitled77 {
  width: 18px;
  height: 32px;
  background-position: -576px -192px;
}
.icon-untitled78 {
  width: 27px;
  height: 32px;
  background-position: -624px -192px;
}
.icon-untitled79 {
  width: 23px;
  height: 32px;
  background-position: -672px -192px;
}
.icon-untitled80 {
  width: 23px;
  height: 32px;
  background-position: -720px -192px;
}
.icon-untitled81 {
  width: 32px;
  height: 32px;
  background-position: 0 -240px;
}
.icon-untitled82 {
  width: 32px;
  height: 32px;
  background-position: -48px -240px;
}
.icon-untitled83 {
  width: 32px;
  height: 32px;
  background-position: -96px -240px;
}
.icon-untitled84 {
  width: 32px;
  height: 32px;
  background-position: -144px -240px;
}
.icon-untitled85 {
  width: 32px;
  height: 32px;
  background-position: -192px -240px;
}
.icon-untitled86 {
  width: 32px;
  height: 32px;
  background-position: -240px -240px;
}
.icon-untitled87 {
  width: 32px;
  height: 32px;
  background-position: -288px -240px;
}
.icon-untitled88 {
  width: 32px;
  height: 32px;
  background-position: -336px -240px;
}
.icon-untitled89 {
  width: 32px;
  height: 32px;
  background-position: -384px -240px;
}
.icon-untitled90 {
  width: 32px;
  height: 32px;
  background-position: -432px -240px;
}
.icon-untitled91 {
  width: 32px;
  height: 32px;
  background-position: -480px -240px;
}
.icon-untitled92 {
  width: 32px;
  height: 32px;
  background-position: -528px -240px;
}
.icon-untitled93 {
  width: 30px;
  height: 32px;
  background-position: -576px -240px;
}
.icon-untitled94 {
  width: 30px;
  height: 32px;
  background-position: -624px -240px;
}
.icon-untitled95 {
  width: 32px;
  height: 32px;
  background-position: -672px -240px;
}
.icon-untitled96 {
  width: 32px;
  height: 32px;
  background-position: -720px -240px;
}
.icon-untitled97 {
  width: 32px;
  height: 32px;
  background-position: 0 -288px;
}
.icon-untitled98 {
  width: 25px;
  height: 32px;
  background-position: -48px -288px;
}
.icon-untitled99 {
  width: 25px;
  height: 32px;
  background-position: -96px -288px;
}
.icon-untitled100 {
  width: 30px;
  height: 32px;
  background-position: -144px -288px;
}
.icon-untitled101 {
  width: 32px;
  height: 32px;
  background-position: -192px -288px;
}
.icon-untitled102 {
  width: 32px;
  height: 32px;
  background-position: -240px -288px;
}
.icon-untitled103 {
  width: 32px;
  height: 32px;
  background-position: -288px -288px;
}
.icon-untitled104 {
  width: 25px;
  height: 32px;
  background-position: -336px -288px;
}
.icon-untitled105 {
  width: 32px;
  height: 32px;
  background-position: -384px -288px;
}
.icon-untitled106 {
  width: 32px;
  height: 32px;
  background-position: -432px -288px;
}
.icon-untitled107 {
  width: 32px;
  height: 32px;
  background-position: -480px -288px;
}
.icon-untitled108 {
  width: 25px;
  height: 32px;
  background-position: -528px -288px;
}
.icon-untitled109 {
  width: 30px;
  height: 32px;
  background-position: -576px -288px;
}
.icon-untitled110 {
  width: 32px;
  height: 32px;
  background-position: -624px -288px;
}
.icon-untitled111 {
  width: 32px;
  height: 32px;
  background-position: -672px -288px;
}
.icon-untitled112 {
  width: 32px;
  height: 32px;
  background-position: -720px -288px;
}
.icon-untitled113 {
  width: 32px;
  height: 32px;
  background-position: 0 -336px;
}
.icon-untitled114 {
  width: 32px;
  height: 32px;
  background-position: -48px -336px;
}
.icon-untitled115 {
  width: 34px;
  height: 32px;
  background-position: -96px -336px;
}
.icon-untitled116 {
  width: 30px;
  height: 32px;
  background-position: -144px -336px;
}
.icon-untitled117 {
  width: 30px;
  height: 32px;
  background-position: -192px -336px;
}
.icon-untitled118 {
  width: 34px;
  height: 32px;
  background-position: -240px -336px;
}
.icon-untitled119 {
  width: 14px;
  height: 32px;
  background-position: -288px -336px;
}
.icon-untitled120 {
  width: 32px;
  height: 32px;
  background-position: -336px -336px;
}
.icon-untitled121 {
  width: 37px;
  height: 32px;
  background-position: -384px -336px;
}
.icon-untitled122 {
  width: 32px;
  height: 32px;
  background-position: -432px -336px;
}
.icon-untitled123 {
  width: 32px;
  height: 32px;
  background-position: -480px -336px;
}
.icon-untitled124 {
  width: 32px;
  height: 32px;
  background-position: -528px -336px;
}
.icon-untitled125 {
  width: 32px;
  height: 32px;
  background-position: -576px -336px;
}
.icon-untitled126 {
  width: 34px;
  height: 32px;
  background-position: -624px -336px;
}
.icon-untitled127 {
  width: 32px;
  height: 32px;
  background-position: -672px -336px;
}
.icon-untitled128 {
  width: 32px;
  height: 32px;
  background-position: -720px -336px;
}
.icon-untitled129 {
  width: 32px;
  height: 32px;
  background-position: 0 -384px;
}
.icon-untitled130 {
  width: 16px;
  height: 32px;
  background-position: -48px -384px;
}
.icon-untitled131 {
  width: 32px;
  height: 32px;
  background-position: -96px -384px;
}
.icon-untitled132 {
  width: 30px;
  height: 32px;
  background-position: -144px -384px;
}
.icon-untitled133 {
  width: 32px;
  height: 32px;
  background-position: -192px -384px;
}
.icon-untitled134 {
  width: 21px;
  height: 32px;
  background-position: -240px -384px;
}
.icon-untitled135 {
  width: 32px;
  height: 32px;
  background-position: -288px -384px;
}
.icon-untitled136 {
  width: 32px;
  height: 32px;
  background-position: -336px -384px;
}
.icon-untitled137 {
  width: 30px;
  height: 32px;
  background-position: -384px -384px;
}
.icon-untitled138 {
  width: 32px;
  height: 32px;
  background-position: -432px -384px;
}
.icon-untitled139 {
  width: 30px;
  height: 32px;
  background-position: -480px -384px;
}
.icon-untitled140 {
  width: 32px;
  height: 32px;
  background-position: -528px -384px;
}
.icon-untitled141 {
  width: 25px;
  height: 32px;
  background-position: -576px -384px;
}
.icon-untitled142 {
  width: 25px;
  height: 32px;
  background-position: -624px -384px;
}
.icon-untitled143 {
  width: 23px;
  height: 32px;
  background-position: -672px -384px;
}
.icon-untitled144 {
  width: 32px;
  height: 32px;
  background-position: -720px -384px;
}
.icon-untitled145 {
  width: 30px;
  height: 32px;
  background-position: 0 -432px;
}
.icon-untitled146 {
  width: 18px;
  height: 32px;
  background-position: -48px -432px;
}
.icon-untitled147 {
  width: 32px;
  height: 32px;
  background-position: -96px -432px;
}
.icon-untitled148 {
  width: 30px;
  height: 32px;
  background-position: -144px -432px;
}
.icon-untitled149 {
  width: 34px;
  height: 32px;
  background-position: -192px -432px;
}
.icon-untitled150 {
  width: 25px;
  height: 32px;
  background-position: -240px -432px;
}
.icon-untitled151 {
  width: 32px;
  height: 32px;
  background-position: -288px -432px;
}
.icon-untitled152 {
  width: 32px;
  height: 32px;
  background-position: -336px -432px;
}
.icon-untitled153 {
  width: 32px;
  height: 32px;
  background-position: -384px -432px;
}
.icon-untitled154 {
  width: 32px;
  height: 32px;
  background-position: -432px -432px;
}
.icon-untitled155 {
  width: 32px;
  height: 32px;
  background-position: -480px -432px;
}
.icon-untitled156 {
  width: 32px;
  height: 32px;
  background-position: -528px -432px;
}
.icon-untitled157 {
  width: 32px;
  height: 32px;
  background-position: -576px -432px;
}
.icon-untitled158 {
  width: 32px;
  height: 32px;
  background-position: -624px -432px;
}
.icon-untitled159 {
  width: 32px;
  height: 32px;
  background-position: -672px -432px;
}
.icon-untitled160 {
  width: 32px;
  height: 32px;
  background-position: -720px -432px;
}
.icon-untitled161 {
  width: 32px;
  height: 32px;
  background-position: 0 -480px;
}
.icon-untitled162 {
  width: 32px;
  height: 32px;
  background-position: -48px -480px;
}
.icon-untitled163 {
  width: 32px;
  height: 32px;
  background-position: -96px -480px;
}
.icon-untitled164 {
  width: 30px;
  height: 32px;
  background-position: -144px -480px;
}
.icon-untitled165 {
  width: 32px;
  height: 32px;
  background-position: -192px -480px;
}
.icon-untitled166 {
  width: 25px;
  height: 32px;
  background-position: -240px -480px;
}
.icon-untitled167 {
  width: 32px;
  height: 32px;
  background-position: -288px -480px;
}
.icon-untitled168 {
  width: 32px;
  height: 32px;
  background-position: -336px -480px;
}
.icon-untitled169 {
  width: 34px;
  height: 32px;
  background-position: -384px -480px;
}
.icon-untitled170 {
  width: 30px;
  height: 32px;
  background-position: -432px -480px;
}
.icon-untitled171 {
  width: 34px;
  height: 32px;
  background-position: -480px -480px;
}
.icon-untitled172 {
  width: 30px;
  height: 32px;
  background-position: -528px -480px;
}
.icon-untitled173 {
  width: 32px;
  height: 32px;
  background-position: -576px -480px;
}
.icon-untitled174 {
  width: 32px;
  height: 32px;
  background-position: -624px -480px;
}
.icon-untitled175 {
  width: 25px;
  height: 32px;
  background-position: -672px -480px;
}
.icon-untitled176 {
  width: 32px;
  height: 32px;
  background-position: -720px -480px;
}
.icon-untitled177 {
  width: 32px;
  height: 32px;
  background-position: 0 -528px;
}
.icon-untitled178 {
  width: 32px;
  height: 32px;
  background-position: -48px -528px;
}
.icon-untitled179 {
  width: 32px;
  height: 32px;
  background-position: -96px -528px;
}
.icon-untitled180 {
  width: 32px;
  height: 32px;
  background-position: -144px -528px;
}
.icon-untitled181 {
  width: 32px;
  height: 32px;
  background-position: -192px -528px;
}
.icon-untitled182 {
  width: 32px;
  height: 32px;
  background-position: -240px -528px;
}
.icon-untitled183 {
  width: 30px;
  height: 32px;
  background-position: -288px -528px;
}
.icon-untitled184 {
  width: 30px;
  height: 32px;
  background-position: -336px -528px;
}
.icon-untitled185 {
  width: 32px;
  height: 32px;
  background-position: -384px -528px;
}
.icon-untitled186 {
  width: 32px;
  height: 32px;
  background-position: -432px -528px;
}
.icon-untitled187 {
  width: 32px;
  height: 32px;
  background-position: -480px -528px;
}
.icon-untitled188 {
  width: 32px;
  height: 32px;
  background-position: -528px -528px;
}
.icon-untitled189 {
  width: 41px;
  height: 32px;
  background-position: -576px -528px;
}
.icon-untitled190 {
  width: 34px;
  height: 32px;
  background-position: -672px -528px;
}
.icon-untitled191 {
  width: 18px;
  height: 32px;
  background-position: 0 -576px;
}
.icon-untitled192 {
  width: 18px;
  height: 32px;
  background-position: -48px -576px;
}
.icon-untitled193 {
  width: 11px;
  height: 32px;
  background-position: -96px -576px;
}
.icon-untitled194 {
  width: 11px;
  height: 32px;
  background-position: -144px -576px;
}
.icon-untitled195 {
  width: 30px;
  height: 32px;
  background-position: -192px -576px;
}
.icon-untitled196 {
  width: 18px;
  height: 32px;
  background-position: -240px -576px;
}
.icon-untitled197 {
  width: 18px;
  height: 32px;
  background-position: -288px -576px;
}
.icon-untitled198 {
  width: 18px;
  height: 32px;
  background-position: -336px -576px;
}
.icon-untitled199 {
  width: 32px;
  height: 32px;
  background-position: -384px -576px;
}
.icon-untitled200 {
  width: 32px;
  height: 32px;
  background-position: -432px -576px;
}
.icon-untitled201 {
  width: 32px;
  height: 32px;
  background-position: -480px -576px;
}
.icon-untitled202 {
  width: 32px;
  height: 32px;
  background-position: -528px -576px;
}
.icon-untitled203 {
  width: 32px;
  height: 32px;
  background-position: -576px -576px;
}
.icon-untitled204 {
  width: 32px;
  height: 32px;
  background-position: -624px -576px;
}
.icon-untitled205 {
  width: 32px;
  height: 32px;
  background-position: -672px -576px;
}
.icon-untitled206 {
  width: 16px;
  height: 32px;
  background-position: -720px -576px;
}
.icon-untitled207 {
  width: 32px;
  height: 32px;
  background-position: 0 -624px;
}
.icon-untitled208 {
  width: 30px;
  height: 32px;
  background-position: -48px -624px;
}
.icon-untitled209 {
  width: 32px;
  height: 32px;
  background-position: -96px -624px;
}
.icon-untitled210 {
  width: 18px;
  height: 32px;
  background-position: -144px -624px;
}
.icon-untitled211 {
  width: 32px;
  height: 32px;
  background-position: -192px -624px;
}
.icon-untitled212 {
  width: 34px;
  height: 32px;
  background-position: -240px -624px;
}
.icon-untitled213 {
  width: 34px;
  height: 32px;
  background-position: -288px -624px;
}
.icon-untitled214 {
  width: 25px;
  height: 32px;
  background-position: -336px -624px;
}
.icon-untitled215 {
  width: 25px;
  height: 32px;
  background-position: -384px -624px;
}
.icon-untitled216 {
  width: 32px;
  height: 32px;
  background-position: -432px -624px;
}
.icon-untitled217 {
  width: 32px;
  height: 32px;
  background-position: -480px -624px;
}
.icon-untitled218 {
  width: 34px;
  height: 32px;
  background-position: -528px -624px;
}
.icon-untitled219 {
  width: 25px;
  height: 32px;
  background-position: -576px -624px;
}
.icon-untitled220 {
  width: 32px;
  height: 32px;
  background-position: -624px -624px;
}
.icon-untitled221 {
  width: 25px;
  height: 32px;
  background-position: -672px -624px;
}
.icon-untitled222 {
  width: 25px;
  height: 32px;
  background-position: -720px -624px;
}
.icon-untitled223 {
  width: 34px;
  height: 32px;
  background-position: 0 -672px;
}
.icon-untitled224 {
  width: 32px;
  height: 32px;
  background-position: -48px -672px;
}
.icon-untitled225 {
  width: 34px;
  height: 32px;
  background-position: -96px -672px;
}
.icon-untitled226 {
  width: 30px;
  height: 32px;
  background-position: -144px -672px;
}
.icon-untitled227 {
  width: 32px;
  height: 32px;
  background-position: -192px -672px;
}
.icon-untitled228 {
  width: 32px;
  height: 32px;
  background-position: -240px -672px;
}
.icon-untitled229 {
  width: 18px;
  height: 32px;
  background-position: -288px -672px;
}
.icon-untitled230 {
  width: 18px;
  height: 32px;
  background-position: -336px -672px;
}
.icon-untitled231 {
  width: 21px;
  height: 32px;
  background-position: -384px -672px;
}
.icon-untitled232 {
  width: 21px;
  height: 32px;
  background-position: -432px -672px;
}
.icon-untitled233 {
  width: 11px;
  height: 32px;
  background-position: -480px -672px;
}
.icon-untitled234 {
  width: 11px;
  height: 32px;
  background-position: -528px -672px;
}
.icon-untitled235 {
  width: 21px;
  height: 32px;
  background-position: -576px -672px;
}
.icon-untitled236 {
  width: 21px;
  height: 32px;
  background-position: -624px -672px;
}
.icon-untitled237 {
  width: 34px;
  height: 32px;
  background-position: -672px -672px;
}
.icon-untitled238 {
  width: 34px;
  height: 32px;
  background-position: 0 -720px;
}
.icon-untitled239 {
  width: 21px;
  height: 32px;
  background-position: -48px -720px;
}
.icon-untitled240 {
  width: 14px;
  height: 32px;
  background-position: -96px -720px;
}
.icon-untitled241 {
  width: 32px;
  height: 32px;
  background-position: -144px -720px;
}
.icon-untitled242 {
  width: 30px;
  height: 32px;
  background-position: -192px -720px;
}
.icon-untitled243 {
  width: 30px;
  height: 32px;
  background-position: -240px -720px;
}
.icon-untitled244 {
  width: 32px;
  height: 32px;
  background-position: -288px -720px;
}
.icon-untitled245 {
  width: 32px;
  height: 32px;
  background-position: -336px -720px;
}
.icon-untitled246 {
  width: 32px;
  height: 32px;
  background-position: -384px -720px;
}
.icon-untitled247 {
  width: 30px;
  height: 32px;
  background-position: -432px -720px;
}
.icon-untitled248 {
  width: 30px;
  height: 32px;
  background-position: -480px -720px;
}
.icon-untitled249 {
  width: 34px;
  height: 32px;
  background-position: -528px -720px;
}
.icon-untitled250 {
  width: 32px;
  height: 32px;
  background-position: -576px -720px;
}
.icon-untitled251 {
  width: 32px;
  height: 32px;
  background-position: -624px -720px;
}
.icon-untitled252 {
  width: 32px;
  height: 32px;
  background-position: -672px -720px;
}
.icon-untitled253 {
  width: 34px;
  height: 32px;
  background-position: 0 -768px;
}
.icon-untitled254 {
  width: 34px;
  height: 32px;
  background-position: -48px -768px;
}
.icon-untitled255 {
  width: 32px;
  height: 32px;
  background-position: -96px -768px;
}
.icon-untitled256 {
  width: 32px;
  height: 32px;
  background-position: -144px -768px;
}
.icon-untitled257 {
  width: 30px;
  height: 32px;
  background-position: -192px -768px;
}
.icon-untitled258 {
  width: 34px;
  height: 32px;
  background-position: -240px -768px;
}
.icon-untitled259 {
  width: 32px;
  height: 32px;
  background-position: -288px -768px;
}
.icon-untitled260 {
  width: 30px;
  height: 32px;
  background-position: -336px -768px;
}
.icon-untitled261 {
  width: 25px;
  height: 32px;
  background-position: -384px -768px;
}
.icon-untitled262 {
  width: 30px;
  height: 32px;
  background-position: -432px -768px;
}
.icon-untitled263 {
  width: 18px;
  height: 32px;
  background-position: -480px -768px;
}
.icon-untitled264 {
  width: 30px;
  height: 32px;
  background-position: -528px -768px;
}
.icon-untitled265 {
  width: 18px;
  height: 32px;
  background-position: -576px -768px;
}
.icon-untitled266 {
  width: 11px;
  height: 32px;
  background-position: -624px -768px;
}
.icon-untitled267 {
  width: 11px;
  height: 32px;
  background-position: -672px -768px;
}
.icon-untitled268 {
  width: 32px;
  height: 32px;
  background-position: -720px -768px;
}
.icon-untitled269 {
  width: 32px;
  height: 32px;
  background-position: 0 -816px;
}
.icon-untitled270 {
  width: 34px;
  height: 32px;
  background-position: -48px -816px;
}
.icon-untitled271 {
  width: 30px;
  height: 32px;
  background-position: -96px -816px;
}
.icon-untitled272 {
  width: 21px;
  height: 32px;
  background-position: -144px -816px;
}
.icon-untitled273 {
  width: 25px;
  height: 32px;
  background-position: -192px -816px;
}
.icon-untitled274 {
  width: 23px;
  height: 32px;
  background-position: -240px -816px;
}
.icon-untitled275 {
  width: 30px;
  height: 32px;
  background-position: -288px -816px;
}
.icon-untitled276 {
  width: 25px;
  height: 32px;
  background-position: -336px -816px;
}
.icon-untitled277 {
  width: 30px;
  height: 32px;
  background-position: -384px -816px;
}
.icon-untitled278 {
  width: 32px;
  height: 32px;
  background-position: -432px -816px;
}
.icon-untitled279 {
  width: 32px;
  height: 32px;
  background-position: -480px -816px;
}
.icon-untitled280 {
  width: 32px;
  height: 32px;
  background-position: -528px -816px;
}
.icon-untitled281 {
  width: 32px;
  height: 32px;
  background-position: -576px -816px;
}
.icon-untitled282 {
  width: 32px;
  height: 32px;
  background-position: -624px -816px;
}
.icon-untitled283 {
  width: 25px;
  height: 32px;
  background-position: -672px -816px;
}
.icon-untitled284 {
  width: 32px;
  height: 32px;
  background-position: -720px -816px;
}
.icon-untitled285 {
  width: 32px;
  height: 32px;
  background-position: 0 -864px;
}
.icon-untitled286 {
  width: 21px;
  height: 32px;
  background-position: -48px -864px;
}
.icon-untitled287 {
  width: 32px;
  height: 32px;
  background-position: -96px -864px;
}
.icon-untitled288 {
  width: 25px;
  height: 32px;
  background-position: -144px -864px;
}
.icon-untitled289 {
  width: 7px;
  height: 32px;
  background-position: -192px -864px;
}
.icon-untitled290 {
  width: 32px;
  height: 32px;
  background-position: -240px -864px;
}
.icon-untitled291 {
  width: 32px;
  height: 32px;
  background-position: -288px -864px;
}
.icon-untitled292 {
  width: 32px;
  height: 32px;
  background-position: -336px -864px;
}
.icon-untitled293 {
  width: 32px;
  height: 32px;
  background-position: -384px -864px;
}
.icon-untitled294 {
  width: 25px;
  height: 32px;
  background-position: -432px -864px;
}
.icon-untitled295 {
  width: 18px;
  height: 32px;
  background-position: -480px -864px;
}
.icon-untitled296 {
  width: 18px;
  height: 32px;
  background-position: -528px -864px;
}
.icon-untitled297 {
  width: 32px;
  height: 32px;
  background-position: -576px -864px;
}
.icon-untitled298 {
  width: 32px;
  height: 32px;
  background-position: -624px -864px;
}
.icon-untitled299 {
  width: 32px;
  height: 32px;
  background-position: -672px -864px;
}
.icon-untitled300 {
  width: 32px;
  height: 32px;
  background-position: -720px -864px;
}
.icon-untitled301 {
  width: 32px;
  height: 32px;
  background-position: 0 -912px;
}
.icon-untitled302 {
  width: 32px;
  height: 32px;
  background-position: -48px -912px;
}
.icon-untitled303 {
  width: 32px;
  height: 32px;
  background-position: -96px -912px;
}
.icon-untitled304 {
  width: 32px;
  height: 32px;
  background-position: -144px -912px;
}
.icon-untitled305 {
  width: 18px;
  height: 32px;
  background-position: -192px -912px;
}
.icon-untitled306 {
  width: 18px;
  height: 32px;
  background-position: -240px -912px;
}
.icon-untitled307 {
  width: 18px;
  height: 32px;
  background-position: -288px -912px;
}
.icon-untitled308 {
  width: 16px;
  height: 32px;
  background-position: -336px -912px;
}
.icon-untitled309 {
  width: 18px;
  height: 32px;
  background-position: -384px -912px;
}
.icon-untitled310 {
  width: 23px;
  height: 32px;
  background-position: -432px -912px;
}
.icon-untitled311 {
  width: 32px;
  height: 32px;
  background-position: -480px -912px;
}
.icon-untitled312 {
  width: 23px;
  height: 32px;
  background-position: -528px -912px;
}
.icon-untitled313 {
  width: 32px;
  height: 32px;
  background-position: -576px -912px;
}
.icon-untitled314 {
  width: 32px;
  height: 32px;
  background-position: -624px -912px;
}
.icon-untitled315 {
  width: 30px;
  height: 32px;
  background-position: -672px -912px;
}
.icon-untitled316 {
  width: 30px;
  height: 32px;
  background-position: -720px -912px;
}
.icon-untitled317 {
  width: 32px;
  height: 32px;
  background-position: 0 -960px;
}
.icon-untitled318 {
  width: 32px;
  height: 32px;
  background-position: -48px -960px;
}
.icon-untitled319 {
  width: 32px;
  height: 32px;
  background-position: -96px -960px;
}
.icon-untitled320 {
  width: 32px;
  height: 32px;
  background-position: -144px -960px;
}
.icon-untitled321 {
  width: 30px;
  height: 32px;
  background-position: -192px -960px;
}
.icon-untitled322 {
  width: 30px;
  height: 32px;
  background-position: -240px -960px;
}
.icon-untitled323 {
  width: 32px;
  height: 32px;
  background-position: -288px -960px;
}
.icon-untitled324 {
  width: 32px;
  height: 32px;
  background-position: -336px -960px;
}
.icon-untitled325 {
  width: 25px;
  height: 32px;
  background-position: -384px -960px;
}
.icon-untitled326 {
  width: 32px;
  height: 32px;
  background-position: -432px -960px;
}
.icon-untitled327 {
  width: 32px;
  height: 32px;
  background-position: -480px -960px;
}
.icon-untitled328 {
  width: 32px;
  height: 32px;
  background-position: -528px -960px;
}
.icon-untitled329 {
  width: 32px;
  height: 32px;
  background-position: -576px -960px;
}
.icon-untitled330 {
  width: 32px;
  height: 32px;
  background-position: -624px -960px;
}
.icon-untitled331 {
  width: 32px;
  height: 32px;
  background-position: -672px -960px;
}
.icon-untitled332 {
  width: 32px;
  height: 32px;
  background-position: -720px -960px;
}
.icon-untitled333 {
  width: 25px;
  height: 32px;
  background-position: 0 -1008px;
}
.icon-untitled334 {
  width: 32px;
  height: 32px;
  background-position: -48px -1008px;
}
.icon-untitled335 {
  width: 18px;
  height: 32px;
  background-position: -96px -1008px;
}
.icon-untitled336 {
  width: 32px;
  height: 32px;
  background-position: -144px -1008px;
}
.icon-untitled337 {
  width: 14px;
  height: 32px;
  background-position: -192px -1008px;
}
.icon-untitled338 {
  width: 14px;
  height: 32px;
  background-position: -240px -1008px;
}
.icon-untitled339 {
  width: 32px;
  height: 32px;
  background-position: -288px -1008px;
}
.icon-untitled340 {
  width: 32px;
  height: 32px;
  background-position: -336px -1008px;
}
.icon-untitled341 {
  width: 25px;
  height: 32px;
  background-position: -384px -1008px;
}
.icon-untitled342 {
  width: 30px;
  height: 32px;
  background-position: -432px -1008px;
}
.icon-untitled343 {
  width: 25px;
  height: 32px;
  background-position: -480px -1008px;
}
.icon-untitled344 {
  width: 32px;
  height: 32px;
  background-position: -528px -1008px;
}
.icon-untitled345 {
  width: 32px;
  height: 32px;
  background-position: -576px -1008px;
}
.icon-untitled346 {
  width: 32px;
  height: 32px;
  background-position: -624px -1008px;
}
.icon-untitled347 {
  width: 23px;
  height: 32px;
  background-position: -672px -1008px;
}
.icon-untitled348 {
  width: 32px;
  height: 32px;
  background-position: -720px -1008px;
}
.icon-untitled349 {
  width: 23px;
  height: 32px;
  background-position: 0 -1056px;
}
.icon-untitled350 {
  width: 18px;
  height: 32px;
  background-position: -48px -1056px;
}
.icon-untitled351 {
  width: 32px;
  height: 32px;
  background-position: -96px -1056px;
}
.icon-untitled352 {
  width: 32px;
  height: 32px;
  background-position: -144px -1056px;
}
.icon-untitled353 {
  width: 32px;
  height: 32px;
  background-position: -192px -1056px;
}
.icon-untitled354 {
  width: 32px;
  height: 32px;
  background-position: -240px -1056px;
}
.icon-untitled355 {
  width: 30px;
  height: 32px;
  background-position: -288px -1056px;
}
.icon-untitled356 {
  width: 34px;
  height: 32px;
  background-position: -336px -1056px;
}
.icon-untitled357 {
  width: 32px;
  height: 32px;
  background-position: -384px -1056px;
}
.icon-untitled358 {
  width: 32px;
  height: 32px;
  background-position: -432px -1056px;
}
.icon-untitled359 {
  width: 25px;
  height: 32px;
  background-position: -480px -1056px;
}
.icon-untitled360 {
  width: 23px;
  height: 32px;
  background-position: -528px -1056px;
}
.icon-untitled361 {
  width: 32px;
  height: 32px;
  background-position: -576px -1056px;
}
.icon-untitled362 {
  width: 32px;
  height: 32px;
  background-position: -624px -1056px;
}
.icon-untitled363 {
  width: 32px;
  height: 32px;
  background-position: -672px -1056px;
}
.icon-untitled364 {
  width: 32px;
  height: 32px;
  background-position: -720px -1056px;
}
.icon-untitled365 {
  width: 30px;
  height: 32px;
  background-position: 0 -1104px;
}
.icon-untitled366 {
  width: 32px;
  height: 32px;
  background-position: -48px -1104px;
}
.icon-untitled367 {
  width: 21px;
  height: 32px;
  background-position: -96px -1104px;
}
.icon-untitled368 {
  width: 25px;
  height: 32px;
  background-position: -144px -1104px;
}
.icon-untitled369 {
  width: 39px;
  height: 32px;
  background-position: -192px -1104px;
}
.icon-untitled370 {
  width: 30px;
  height: 32px;
  background-position: -240px -1104px;
}
.icon-untitled371 {
  width: 32px;
  height: 32px;
  background-position: -288px -1104px;
}
.icon-untitled372 {
  width: 32px;
  height: 32px;
  background-position: -336px -1104px;
}
.icon-untitled373 {
  width: 32px;
  height: 32px;
  background-position: -384px -1104px;
}
.icon-untitled374 {
  width: 37px;
  height: 32px;
  background-position: -432px -1104px;
}
.icon-untitled375 {
  width: 41px;
  height: 32px;
  background-position: -480px -1104px;
}
.icon-untitled376 {
  width: 32px;
  height: 32px;
  background-position: -576px -1104px;
}
.icon-untitled377 {
  width: 32px;
  height: 32px;
  background-position: -624px -1104px;
}
.icon-untitled378 {
  width: 32px;
  height: 32px;
  background-position: -672px -1104px;
}
.icon-untitled379 {
  width: 32px;
  height: 32px;
  background-position: -720px -1104px;
}
.icon-untitled380 {
  width: 32px;
  height: 32px;
  background-position: 0 -1152px;
}
.icon-untitled381 {
  width: 34px;
  height: 32px;
  background-position: -48px -1152px;
}
.icon-untitled382 {
  width: 32px;
  height: 32px;
  background-position: -96px -1152px;
}
.icon-untitled383 {
  width: 37px;
  height: 32px;
  background-position: -144px -1152px;
}
.icon-untitled384 {
  width: 32px;
  height: 32px;
  background-position: -192px -1152px;
}
.icon-untitled385 {
  width: 36px;
  height: 32px;
  background-position: -240px -1152px;
}
.icon-untitled386 {
  width: 32px;
  height: 32px;
  background-position: -288px -1152px;
}
.icon-untitled387 {
  width: 32px;
  height: 32px;
  background-position: -336px -1152px;
}
.icon-untitled388 {
  width: 32px;
  height: 32px;
  background-position: -384px -1152px;
}
.icon-untitled389 {
  width: 32px;
  height: 32px;
  background-position: -432px -1152px;
}
.icon-untitled390 {
  width: 32px;
  height: 32px;
  background-position: -480px -1152px;
}
.icon-untitled391 {
  width: 23px;
  height: 32px;
  background-position: -528px -1152px;
}
.icon-untitled392 {
  width: 30px;
  height: 32px;
  background-position: -576px -1152px;
}
.icon-untitled393 {
  width: 14px;
  height: 32px;
  background-position: -624px -1152px;
}
.icon-untitled394 {
  width: 32px;
  height: 32px;
  background-position: -672px -1152px;
}
.icon-untitled395 {
  width: 41px;
  height: 32px;
  background-position: 0 -1200px;
}
.icon-untitled396 {
  width: 37px;
  height: 32px;
  background-position: -96px -1200px;
}
.icon-untitled397 {
  width: 32px;
  height: 32px;
  background-position: -144px -1200px;
}
.icon-untitled398 {
  width: 32px;
  height: 32px;
  background-position: -192px -1200px;
}
.icon-untitled399 {
  width: 32px;
  height: 32px;
  background-position: -240px -1200px;
}
.icon-untitled400 {
  width: 32px;
  height: 32px;
  background-position: -288px -1200px;
}
.icon-untitled401 {
  width: 37px;
  height: 32px;
  background-position: -336px -1200px;
}
.icon-untitled402 {
  width: 37px;
  height: 32px;
  background-position: -384px -1200px;
}
.icon-untitled403 {
  width: 32px;
  height: 32px;
  background-position: -432px -1200px;
}
.icon-untitled404 {
  width: 32px;
  height: 32px;
  background-position: -480px -1200px;
}
.icon-untitled405 {
  width: 18px;
  height: 32px;
  background-position: -528px -1200px;
}
.icon-untitled406 {
  width: 41px;
  height: 32px;
  background-position: -576px -1200px;
}
.icon-untitled407 {
  width: 32px;
  height: 32px;
  background-position: -672px -1200px;
}
.icon-untitled408 {
  width: 32px;
  height: 32px;
  background-position: -720px -1200px;
}
.icon-untitled409 {
  width: 32px;
  height: 32px;
  background-position: 0 -1248px;
}
.icon-untitled410 {
  width: 32px;
  height: 32px;
  background-position: -48px -1248px;
}
.icon-untitled411 {
  width: 32px;
  height: 32px;
  background-position: -96px -1248px;
}
.icon-untitled412 {
  width: 32px;
  height: 32px;
  background-position: -144px -1248px;
}
.icon-untitled413 {
  width: 32px;
  height: 32px;
  background-position: -192px -1248px;
}
.icon-untitled414 {
  width: 32px;
  height: 32px;
  background-position: -240px -1248px;
}
.icon-untitled415 {
  width: 32px;
  height: 32px;
  background-position: -288px -1248px;
}
.icon-untitled416 {
  width: 32px;
  height: 32px;
  background-position: -336px -1248px;
}
.icon-untitled417 {
  width: 32px;
  height: 32px;
  background-position: -384px -1248px;
}
.icon-untitled418 {
  width: 32px;
  height: 32px;
  background-position: -432px -1248px;
}
.icon-untitled419 {
  width: 37px;
  height: 32px;
  background-position: -480px -1248px;
}
.icon-untitled420 {
  width: 32px;
  height: 32px;
  background-position: -528px -1248px;
}
.icon-untitled421 {
  width: 32px;
  height: 32px;
  background-position: -576px -1248px;
}
.icon-untitled422 {
  width: 32px;
  height: 32px;
  background-position: -624px -1248px;
}
.icon-untitled423 {
  width: 32px;
  height: 32px;
  background-position: -672px -1248px;
}
.icon-untitled424 {
  width: 32px;
  height: 32px;
  background-position: -720px -1248px;
}
.icon-untitled425 {
  width: 32px;
  height: 32px;
  background-position: 0 -1296px;
}
.icon-untitled426 {
  width: 32px;
  height: 32px;
  background-position: -48px -1296px;
}
.icon-untitled427 {
  width: 23px;
  height: 32px;
  background-position: -96px -1296px;
}
.icon-untitled428 {
  width: 32px;
  height: 32px;
  background-position: -144px -1296px;
}
.icon-untitled429 {
  width: 37px;
  height: 32px;
  background-position: -192px -1296px;
}
.icon-untitled430 {
  width: 32px;
  height: 32px;
  background-position: -240px -1296px;
}
.icon-untitled431 {
  width: 32px;
  height: 32px;
  background-position: -288px -1296px;
}
.icon-untitled432 {
  width: 32px;
  height: 32px;
  background-position: -336px -1296px;
}
.icon-untitled433 {
  width: 32px;
  height: 32px;
  background-position: -384px -1296px;
}
.icon-untitled434 {
  width: 32px;
  height: 32px;
  background-position: -432px -1296px;
}
.icon-untitled435 {
  width: 23px;
  height: 32px;
  background-position: -480px -1296px;
}
.icon-untitled436 {
  width: 32px;
  height: 32px;
  background-position: -528px -1296px;
}
.icon-untitled437 {
  width: 32px;
  height: 32px;
  background-position: -576px -1296px;
}
.icon-untitled438 {
  width: 32px;
  height: 32px;
  background-position: -624px -1296px;
}
.icon-untitled439 {
  width: 32px;
  height: 32px;
  background-position: -672px -1296px;
}
.icon-untitled440 {
  width: 32px;
  height: 32px;
  background-position: -720px -1296px;
}
.icon-untitled441 {
  width: 32px;
  height: 32px;
  background-position: 0 -1344px;
}
.icon-untitled442 {
  width: 32px;
  height: 32px;
  background-position: -48px -1344px;
}
.icon-untitled443 {
  width: 32px;
  height: 32px;
  background-position: -96px -1344px;
}
.icon-untitled444 {
  width: 32px;
  height: 32px;
  background-position: -144px -1344px;
}
.icon-untitled445 {
  width: 32px;
  height: 32px;
  background-position: -192px -1344px;
}
.icon-untitled446 {
  width: 32px;
  height: 32px;
  background-position: -240px -1344px;
}
.icon-untitled447 {
  width: 37px;
  height: 32px;
  background-position: -288px -1344px;
}
.icon-untitled448 {
  width: 37px;
  height: 32px;
  background-position: -336px -1344px;
}
.icon-untitled449 {
  width: 32px;
  height: 32px;
  background-position: -384px -1344px;
}
.icon-untitled450 {
  width: 32px;
  height: 32px;
  background-position: -432px -1344px;
}
.icon-untitled451 {
  width: 32px;
  height: 32px;
  background-position: -480px -1344px;
}
.icon-untitled452 {
  width: 41px;
  height: 32px;
  background-position: -528px -1344px;
}
.icon-untitled453 {
  width: 41px;
  height: 32px;
  background-position: -624px -1344px;
}
.icon-untitled454 {
  width: 41px;
  height: 32px;
  background-position: 0 -1392px;
}
.icon-untitled455 {
  width: 41px;
  height: 32px;
  background-position: -96px -1392px;
}
.icon-untitled456 {
  width: 41px;
  height: 32px;
  background-position: -192px -1392px;
}
.icon-untitled457 {
  width: 41px;
  height: 32px;
  background-position: -288px -1392px;
}
.icon-untitled458 {
  width: 37px;
  height: 32px;
  background-position: -384px -1392px;
}
.icon-untitled459 {
  width: 37px;
  height: 32px;
  background-position: -432px -1392px;
}
.icon-untitled460 {
  width: 25px;
  height: 32px;
  background-position: -480px -1392px;
}
.icon-untitled461 {
  width: 32px;
  height: 32px;
  background-position: -528px -1392px;
}
.icon-untitled462 {
  width: 32px;
  height: 32px;
  background-position: -576px -1392px;
}
.icon-untitled463 {
  width: 32px;
  height: 32px;
  background-position: -624px -1392px;
}
.icon-untitled464 {
  width: 32px;
  height: 32px;
  background-position: -672px -1392px;
}
.icon-untitled465 {
  width: 32px;
  height: 32px;
  background-position: -720px -1392px;
}
.icon-untitled466 {
  width: 37px;
  height: 32px;
  background-position: 0 -1440px;
}
.icon-untitled467 {
  width: 32px;
  height: 32px;
  background-position: -48px -1440px;
}
.icon-untitled468 {
  width: 37px;
  height: 32px;
  background-position: -96px -1440px;
}
.icon-untitled469 {
  width: 32px;
  height: 32px;
  background-position: -144px -1440px;
}
.icon-untitled470 {
  width: 32px;
  height: 32px;
  background-position: -192px -1440px;
}
.icon-untitled471 {
  width: 37px;
  height: 32px;
  background-position: -240px -1440px;
}
.icon-untitled472 {
  width: 37px;
  height: 32px;
  background-position: -288px -1440px;
}
.icon-untitled473 {
  width: 41px;
  height: 32px;
  background-position: -336px -1440px;
}
.icon-untitled474 {
  width: 32px;
  height: 32px;
  background-position: -432px -1440px;
}
.icon-untitled475 {
  width: 37px;
  height: 32px;
  background-position: -480px -1440px;
}
.icon-untitled476 {
  width: 23px;
  height: 32px;
  background-position: -528px -1440px;
}
.icon-untitled477 {
  width: 37px;
  height: 32px;
  background-position: -576px -1440px;
}
.icon-untitled478 {
  width: 32px;
  height: 32px;
  background-position: -624px -1440px;
}
.icon-untitled479 {
  width: 32px;
  height: 32px;
  background-position: -672px -1440px;
}
.icon-untitled480 {
  width: 32px;
  height: 32px;
  background-position: -720px -1440px;
}
.icon-untitled481 {
  width: 37px;
  height: 32px;
  background-position: 0 -1488px;
}
.icon-untitled482 {
  width: 32px;
  height: 32px;
  background-position: -48px -1488px;
}
.icon-untitled483 {
  width: 32px;
  height: 32px;
  background-position: -96px -1488px;
}
.icon-untitled484 {
  width: 37px;
  height: 32px;
  background-position: -144px -1488px;
}
.icon-untitled485 {
  width: 37px;
  height: 32px;
  background-position: -192px -1488px;
}
.icon-untitled486 {
  width: 32px;
  height: 32px;
  background-position: -240px -1488px;
}
.icon-untitled487 {
  width: 37px;
  height: 32px;
  background-position: -288px -1488px;
}
.icon-untitled488 {
  width: 37px;
  height: 32px;
  background-position: -336px -1488px;
}
.icon-untitled489 {
  width: 30px;
  height: 32px;
  background-position: -384px -1488px;
}
.icon-untitled490 {
  width: 30px;
  height: 32px;
  background-position: -432px -1488px;
}
.icon-untitled491 {
  width: 37px;
  height: 32px;
  background-position: -480px -1488px;
}
.icon-untitled492 {
  width: 37px;
  height: 32px;
  background-position: -528px -1488px;
}
.icon-untitled493 {
  width: 32px;
  height: 32px;
  background-position: -576px -1488px;
}
.icon-untitled494 {
  width: 41px;
  height: 32px;
  background-position: -624px -1488px;
}
.icon-untitled495 {
  width: 32px;
  height: 32px;
  background-position: 0 -1536px;
}
.icon-untitled496 {
  width: 32px;
  height: 32px;
  background-position: -48px -1536px;
}
.icon-untitled497 {
  width: 23px;
  height: 32px;
  background-position: -96px -1536px;
}
.icon-untitled498 {
  width: 32px;
  height: 32px;
  background-position: -144px -1536px;
}
.icon-untitled499 {
  width: 23px;
  height: 32px;
  background-position: -192px -1536px;
}
.icon-untitled500 {
  width: 32px;
  height: 32px;
  background-position: -240px -1536px;
}
.icon-untitled501 {
  width: 32px;
  height: 32px;
  background-position: -288px -1536px;
}
.icon-untitled502 {
  width: 32px;
  height: 32px;
  background-position: -336px -1536px;
}
.icon-untitled503 {
  width: 34px;
  height: 32px;
  background-position: -384px -1536px;
}
.icon-untitled504 {
  width: 37px;
  height: 32px;
  background-position: -432px -1536px;
}
.icon-untitled505 {
  width: 32px;
  height: 32px;
  background-position: -480px -1536px;
}
.icon-untitled506 {
  width: 23px;
  height: 32px;
  background-position: -528px -1536px;
}
.icon-untitled507 {
  width: 37px;
  height: 32px;
  background-position: -576px -1536px;
}
.icon-untitled508 {
  width: 23px;
  height: 32px;
  background-position: -624px -1536px;
}
.icon-untitled509 {
  width: 23px;
  height: 32px;
  background-position: -672px -1536px;
}
.icon-untitled510 {
  width: 32px;
  height: 32px;
  background-position: -720px -1536px;
}
.icon-untitled511 {
  width: 23px;
  height: 32px;
  background-position: 0 -1584px;
}
.icon-untitled512 {
  width: 32px;
  height: 32px;
  background-position: -48px -1584px;
}
.icon-untitled513 {
  width: 32px;
  height: 32px;
  background-position: -96px -1584px;
}
.icon-untitled514 {
  width: 37px;
  height: 32px;
  background-position: -144px -1584px;
}
.icon-untitled515 {
  width: 37px;
  height: 32px;
  background-position: -192px -1584px;
}
.icon-untitled516 {
  width: 37px;
  height: 32px;
  background-position: -240px -1584px;
}
.icon-untitled517 {
  width: 32px;
  height: 32px;
  background-position: -288px -1584px;
}
.icon-untitled518 {
  width: 32px;
  height: 32px;
  background-position: -336px -1584px;
}
.icon-untitled519 {
  width: 32px;
  height: 32px;
  background-position: -384px -1584px;
}
.icon-untitled520 {
  width: 32px;
  height: 32px;
  background-position: -432px -1584px;
}
.icon-untitled521 {
  width: 32px;
  height: 32px;
  background-position: -480px -1584px;
}
.icon-untitled522 {
  width: 41px;
  height: 32px;
  background-position: -528px -1584px;
}
.icon-untitled523 {
  width: 41px;
  height: 32px;
  background-position: -624px -1584px;
}
.icon-untitled524 {
  width: 32px;
  height: 32px;
  background-position: 0 -1632px;
}
.icon-untitled525 {
  width: 41px;
  height: 32px;
  background-position: -48px -1632px;
}
.icon-untitled526 {
  width: 41px;
  height: 32px;
  background-position: -144px -1632px;
}
.icon-untitled527 {
  width: 41px;
  height: 32px;
  background-position: -240px -1632px;
}
.icon-untitled528 {
  width: 41px;
  height: 32px;
  background-position: -336px -1632px;
}
.icon-untitled529 {
  width: 41px;
  height: 32px;
  background-position: -432px -1632px;
}
.icon-untitled530 {
  width: 23px;
  height: 32px;
  background-position: -528px -1632px;
}
.icon-untitled531 {
  width: 18px;
  height: 32px;
  background-position: -576px -1632px;
}
.icon-untitled532 {
  width: 37px;
  height: 32px;
  background-position: -624px -1632px;
}
.icon-untitled533 {
  width: 41px;
  height: 32px;
  background-position: -672px -1632px;
}
.icon-untitled534 {
  width: 32px;
  height: 32px;
  background-position: 0 -1680px;
}
.icon-untitled535 {
  width: 32px;
  height: 32px;
  background-position: -48px -1680px;
}
.icon-untitled536 {
  width: 41px;
  height: 32px;
  background-position: -96px -1680px;
}
.icon-untitled537 {
  width: 41px;
  height: 32px;
  background-position: -192px -1680px;
}
.icon-untitled538 {
  width: 32px;
  height: 32px;
  background-position: -288px -1680px;
}
.icon-untitled539 {
  width: 41px;
  height: 32px;
  background-position: -336px -1680px;
}
.icon-untitled540 {
  width: 32px;
  height: 32px;
  background-position: -432px -1680px;
}
.icon-untitled541 {
  width: 32px;
  height: 32px;
  background-position: -480px -1680px;
}
.icon-untitled542 {
  width: 32px;
  height: 32px;
  background-position: -528px -1680px;
}
.icon-untitled543 {
  width: 32px;
  height: 32px;
  background-position: -576px -1680px;
}
.icon-untitled544 {
  width: 32px;
  height: 32px;
  background-position: -624px -1680px;
}
.icon-untitled545 {
  width: 32px;
  height: 32px;
  background-position: -672px -1680px;
}
.icon-untitled546 {
  width: 32px;
  height: 32px;
  background-position: -720px -1680px;
}
.icon-untitled547 {
  width: 32px;
  height: 32px;
  background-position: 0 -1728px;
}
.icon-untitled548 {
  width: 37px;
  height: 32px;
  background-position: -48px -1728px;
}
.icon-untitled549 {
  width: 37px;
  height: 32px;
  background-position: -96px -1728px;
}
.icon-untitled550 {
  width: 32px;
  height: 32px;
  background-position: -144px -1728px;
}
.icon-untitled551 {
  width: 32px;
  height: 32px;
  background-position: -192px -1728px;
}
.icon-untitled552 {
  width: 35px;
  height: 32px;
  background-position: -240px -1728px;
}
.icon-untitled553 {
  width: 32px;
  height: 32px;
  background-position: -288px -1728px;
}
.icon-untitled554 {
  width: 32px;
  height: 32px;
  background-position: -336px -1728px;
}
.icon-untitled555 {
  width: 37px;
  height: 32px;
  background-position: -384px -1728px;
}
.icon-untitled556 {
  width: 32px;
  height: 32px;
  background-position: -432px -1728px;
}
.icon-untitled557 {
  width: 41px;
  height: 32px;
  background-position: -480px -1728px;
}
.icon-untitled558 {
  width: 23px;
  height: 32px;
  background-position: -576px -1728px;
}
.icon-untitled559 {
  width: 32px;
  height: 32px;
  background-position: -624px -1728px;
}
.icon-untitled560 {
  width: 31px;
  height: 32px;
  background-position: -672px -1728px;
}
.icon-untitled561 {
  width: 41px;
  height: 32px;
  background-position: 0 -1776px;
}
.icon-untitled562 {
  width: 32px;
  height: 32px;
  background-position: -96px -1776px;
}
.icon-untitled563 {
  width: 32px;
  height: 32px;
  background-position: -144px -1776px;
}
.icon-untitled564 {
  width: 32px;
  height: 32px;
  background-position: -192px -1776px;
}
.icon-untitled565 {
  width: 32px;
  height: 32px;
  background-position: -240px -1776px;
}
.icon-untitled566 {
  width: 32px;
  height: 32px;
  background-position: -288px -1776px;
}
.icon-untitled567 {
  width: 37px;
  height: 32px;
  background-position: -336px -1776px;
}
.icon-untitled568 {
  width: 32px;
  height: 32px;
  background-position: -384px -1776px;
}
.icon-untitled569 {
  width: 32px;
  height: 32px;
  background-position: -432px -1776px;
}
.icon-untitled570 {
  width: 32px;
  height: 32px;
  background-position: -480px -1776px;
}
.icon-untitled571 {
  width: 32px;
  height: 32px;
  background-position: -528px -1776px;
}
.icon-untitled572 {
  width: 32px;
  height: 32px;
  background-position: -576px -1776px;
}
.icon-untitled573 {
  width: 32px;
  height: 32px;
  background-position: -624px -1776px;
}
.icon-untitled574 {
  width: 32px;
  height: 32px;
  background-position: -672px -1776px;
}
.icon-untitled575 {
  width: 32px;
  height: 32px;
  background-position: -720px -1776px;
}
.icon-untitled576 {
  width: 18px;
  height: 32px;
  background-position: 0 -1824px;
}
.icon-untitled577 {
  width: 32px;
  height: 32px;
  background-position: -48px -1824px;
}
.icon-untitled578 {
  width: 37px;
  height: 32px;
  background-position: -96px -1824px;
}
.icon-untitled579 {
  width: 32px;
  height: 32px;
  background-position: -144px -1824px;
}
.icon-untitled580 {
  width: 32px;
  height: 32px;
  background-position: -192px -1824px;
}
.icon-untitled581 {
  width: 32px;
  height: 32px;
  background-position: -240px -1824px;
}
.icon-untitled582 {
  width: 18px;
  height: 32px;
  background-position: -288px -1824px;
}
.icon-untitled583 {
  width: 32px;
  height: 32px;
  background-position: -336px -1824px;
}
.icon-untitled584 {
  width: 32px;
  height: 32px;
  background-position: -384px -1824px;
}
.icon-untitled585 {
  width: 32px;
  height: 32px;
  background-position: -432px -1824px;
}
.icon-untitled586 {
  width: 32px;
  height: 32px;
  background-position: -480px -1824px;
}
.icon-untitled587 {
  width: 32px;
  height: 32px;
  background-position: -528px -1824px;
}
.icon-untitled588 {
  width: 41px;
  height: 32px;
  background-position: -576px -1824px;
}
.icon-untitled589 {
  width: 32px;
  height: 32px;
  background-position: -672px -1824px;
}
.icon-untitled590 {
  width: 32px;
  height: 32px;
  background-position: -720px -1824px;
}
.icon-untitled591 {
  width: 32px;
  height: 32px;
  background-position: 0 -1872px;
}
.icon-untitled592 {
  width: 41px;
  height: 32px;
  background-position: -48px -1872px;
}
.icon-untitled593 {
  width: 32px;
  height: 32px;
  background-position: -144px -1872px;
}
.icon-untitled594 {
  width: 41px;
  height: 32px;
  background-position: -192px -1872px;
}
.icon-untitled595 {
  width: 32px;
  height: 32px;
  background-position: -288px -1872px;
}
.icon-untitled596 {
  width: 32px;
  height: 32px;
  background-position: -336px -1872px;
}
.icon-untitled597 {
  width: 32px;
  height: 32px;
  background-position: -384px -1872px;
}
.icon-untitled598 {
  width: 32px;
  height: 32px;
  background-position: -432px -1872px;
}
.icon-untitled599 {
  width: 32px;
  height: 32px;
  background-position: -480px -1872px;
}
.icon-untitled600 {
  width: 32px;
  height: 32px;
  background-position: -528px -1872px;
}
.icon-untitled601 {
  width: 37px;
  height: 32px;
  background-position: -576px -1872px;
}
.icon-untitled602 {
  width: 32px;
  height: 32px;
  background-position: -624px -1872px;
}
.icon-untitled603 {
  width: 32px;
  height: 32px;
  background-position: -672px -1872px;
}
.icon-untitled604 {
  width: 18px;
  height: 32px;
  background-position: -720px -1872px;
}
.icon-untitled605 {
  width: 32px;
  height: 32px;
  background-position: 0 -1920px;
}

