.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-seven-down {
  width: 30px;
  height: 32px;
  background-position: 0 0;
}
.icon-four-up {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-seven-right {
  width: 21px;
  height: 32px;
  background-position: -96px 0;
}
.icon-seven-up {
  width: 30px;
  height: 32px;
  background-position: -144px 0;
}
.icon-six-down {
  width: 28px;
  height: 32px;
  background-position: -192px 0;
}
.icon-six-left {
  width: 15px;
  height: 32px;
  background-position: -240px 0;
}
.icon-six-right {
  width: 15px;
  height: 32px;
  background-position: -288px 0;
}
.icon-six-up {
  width: 28px;
  height: 32px;
  background-position: -336px 0;
}
.icon-five-down {
  width: 16px;
  height: 32px;
  background-position: -384px 0;
}
.icon-five-left {
  width: 31px;
  height: 32px;
  background-position: -432px 0;
}
.icon-five-right {
  width: 31px;
  height: 32px;
  background-position: -480px 0;
}
.icon-five-up {
  width: 16px;
  height: 32px;
  background-position: -528px 0;
}
.icon-three-down {
  width: 17px;
  height: 32px;
  background-position: -576px 0;
}
.icon-three-left {
  width: 16px;
  height: 32px;
  background-position: -624px 0;
}
.icon-seven-left {
  width: 21px;
  height: 32px;
  background-position: -672px 0;
}
.icon-three-up {
  width: 17px;
  height: 32px;
  background-position: -720px 0;
}
.icon-one-down {
  width: 26px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-one-left {
  width: 30px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-one-right {
  width: 30px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-one-up {
  width: 26px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-two-down {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-two-left {
  width: 21px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-two-right {
  width: 21px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-two-up {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-four-down {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-four-left {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-four-right {
  width: 32px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-three-right {
  width: 16px;
  height: 32px;
  background-position: -528px -48px;
}

